[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/emp_payroll
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/emp_payroll/emp_payroll/emp_payroll.sock emp_payroll.wsgi:application

       
[Install]
WantedBy=multi-user.target